@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ул. Курчатова 86<br />
    <abbr title="Phone">P:</abbr>
    787.22.10
</address>

<address>
    <strong>Потдержка:</strong>   <a href="mailto:pojasoriona@gmail.com">pojasoriona@gmail.com</a><br />
</address>